# Backend / Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env
.venv/
venv/
ENV/

# Node.js / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local
.env.local
.env.*.local

# IDE и ОС
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml
backend/pyvenv.cfg
